$mg-sidenav-container-width-default=calc(100% - 50px)
$mg-sidenav-container-width-collapsed=100%
$mg-sidenav-container-width-expanded=calc(100% - 300px)

.mg-sidenav-container
  height 100%
  display block
  float right
  // overflow-y auto
  // width $mg-sidenav-container-width-default

.mg-sidenav-container-default
  width $mg-sidenav-container-width-default
  // background yellow

.mg-sidenav-container-collapsed
  width $mg-sidenav-container-width-collapsed
  // background magenta

.mg-sidenav-container-expanded
  width $mg-sidenav-container-width-expanded
  // background orange
  