$navigator-nav-width=50px

.mg-navigator-nav
  img
    margin 5px
    width 40px

  i 
    font-size 20px
    width 40px
    margin 5px
    margin-top 20px
    margin-bottom 20px
    text-align center
    line-height 10px
  
  &:hover
    background #444444
    cursor pointer

.mg-sidenav-navigator-collapsed
  display none;

.mg-sidenav-navigator-expanded
  width 300px

.mg-sidenav-navigator-default
  width $navigator-nav-width
