$sidenav-background=#333333
$sidenav-color=white
$sidenav-width=50px
$sidenav-expanded-width=300px
$sidenav-height=100%

.mg-sidenav-navigator
  height $sidenav-height
  background $sidenav-background
  color $sidenav-color
  display block
  float left 
  
.mg-sidenav-navigator-default
  width $sidenav-width

.mg-sidenav-navigator-collapsed
  width 0px

.mg-sidenav-navigator-expanded
  width $sidenav-expanded-width
  