$navigator-nav-width = 50px

.mg-navigator-nav
  // img
  // margin 5px
  // width 40px

  // i
  // font-size 20px
  // width 40px
  // margin 5px
  // margin-top 20px
  // margin-bottom 20px
  // text-align center
  // line-height 10px
  // background red
  &:hover
    background #444444
    cursor pointer

.mg-sidenav-navigator-collapsed
  display none

.mg-sidenav-navigator-expanded
  width 300px

.mg-sidenav-navigator-default
  width $navigator-nav-width

.mg-navigator-nav
  // background purple
  ::content ::ng-deep
    img
      margin 5px
      width 40px

    i
      display block
      font-size 20px
      width 100%
      padding-top 15px
      padding-bottom 15px
      text-align center

    fa-icon
      display block
      font-size 20px
      width 40px
      padding 5px
      padding-top 15px
      padding-bottom 15px
      text-align center
      line-height 20px
      margin auto

.chevron
  display block
  position relative
  left 50px
  bottom 30px
  width 20px
  height 20px
  width 0
  height 0
  border-top 5px solid transparent
  border-bottom 5px solid transparent
  border-left 5px solid black