<div class="pack text" *ngIf="type == 'text' || type == 'password'">
  <input [type]="type" [placeholder]="placeholder" [value]="value" [(ngModel)]="value" />
</div>
<div class="pack" *ngIf="type == 'list'">
  <input type="text" [placeholder]="placeholder" [value]="value" />
  <i class="icon-chevron-up chevron"></i>
</div>
<div class="pack" *ngIf="type == 'edit'">
  <textarea [placeholder]="placeholder" [value]="value"></textarea>
</div>
<div class="toggle" *ngIf="type == 'toggle'" (click)="toggle()">
  <div class="wrap">
    <div class="slider off" [ngClass]="{'on': value === onValue}"></div>
  </div>
</div>
