<!-- <div class="mg-gallery" [ngClass]="{ 'mg-gallery-drag': state === 'drag' }">
  <mg-img
    *ngFor="let image of images"
    [src]="image"
    autoUpload="true"
    loading="/assets/images/loading.png"
    error="/assets/images/error.png"
    [prefix]="prefix"
    [suffix]="suffix"
    [upload]="upload"
    [onUploaded]="imageUploadCallback"
    [onDeleted]="remove"
    [onSelected]="select"
    [onClicked]="click"
    default="/assets/images/default.png"
    draggable="true"
  ></mg-img>
</div> -->
