.button-bar-button
    width 20px
    height 20px
    display block
    text-align: center
    line-height 20px
    padding 3px
    float left
    margin 2px

    &:hover
        cursor pointer
        background #8CB2FC
