.mg-modal
    background: white
    position: absolute

    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    box-shadow: 0 3.6px 9.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108)


.small
    width: 600px

.medium
    width: 800px

.large
    width: 1000px